In [1]:
from IPython.display import display
import pandas as pd
import random
filename = 'train.csv'
data = pd.read_csv(filename)

data['Age']=data['Age'].fillna(data['Age'].mean())#Q4 Blank age values were replaced with the mean age
from numbers import Number

def as_percent(v, precision='0.2'):  
    """Convert number to percentage string."""
    if isinstance(v, Number):
        return "{{:{}%}}".format(precision).format(v)
    else:
        raise TypeError("Numeric type required")

In [2]:
cm = data[(data.Age < 19) & (data.Sex == 'male')] #male child
cm1 = data[(data.Age < 19) & (data.Sex == 'male') & (data.Pclass==1)] #male child 1st 
cm2 = data[(data.Age < 19) & (data.Sex == 'male')& (data.Pclass==2)] #male child 2nd 
cm3 = data[(data.Age < 19) & (data.Sex == 'male')& (data.Pclass==3)] #male child 3rd 
cms = data[(data.Age < 19) & (data.Sex == 'male') & (data.Survived == 1)] #male children survived 
cms1 = data[(data.Age < 19) & (data.Sex == 'male') & (data.Survived == 1) & (data.Pclass == 1)] #male child survived 1st 
cms2 = data[(data.Age < 19) & (data.Sex == 'male') & (data.Survived == 1) & (data.Pclass == 2)]#male child survived 2nd 
cms3 = data[(data.Age < 19) & (data.Sex == 'male') & (data.Survived == 1) & (data.Pclass == 3)]#male child survived 3rd 
am = data[(data.Age >= 19) & (data.Sex == 'male')] #male adult 
am1 = data[(data.Age >= 19) & (data.Sex == 'male') & (data.Pclass==1)] #male adult 1st 
am2 = data[(data.Age >= 19) & (data.Sex == 'male') & (data.Pclass==2)]#male adult 2nd 
am3 = data[(data.Age >= 19) & (data.Sex == 'male') & (data.Pclass==3)]#male adult 3rd 
ams = data[(data.Age >= 19) & (data.Sex == 'male') & (data.Survived == 1)]#male adult survived
ams1 = data[(data.Age >= 19) & (data.Sex == 'male') & (data.Survived == 1) & (data.Pclass == 1)]#male adult survived 1st 
ams2 = data[(data.Age >= 19) & (data.Sex == 'male') & (data.Survived == 1) & (data.Pclass == 2)]#male adult survived 2nd 
ams3 = data[(data.Age >= 19) & (data.Sex == 'male') & (data.Survived == 1) & (data.Pclass == 3)]#male adult survived 3rd 
cf = data[(data.Age < 19) & (data.Sex == 'female')] #female child
cf1 = data[(data.Age < 19) & (data.Sex == 'female') &(data.Pclass==1)]#female child 1st class
cf2 = data[(data.Age < 19) & (data.Sex == 'female') &(data.Pclass==2)]#female child 2nd class
cf3 = data[(data.Age < 19) & (data.Sex == 'female')& (data.Pclass==3)]#female child 3rd class
cfs = data[(data.Age < 19) & (data.Sex == 'female') & (data.Survived == 1)]#female child survived
cfs1 = data[(data.Age < 19) & (data.Sex == 'female') & (data.Survived == 1) & (data.Pclass==1)]#female child survived 1st 
cfs2 = data[(data.Age < 19) & (data.Sex == 'female') & (data.Survived == 1) & (data.Pclass==2)]#female child survived 2nd 
cfs3 = data[(data.Age < 19) & (data.Sex == 'female') & (data.Survived == 1) & (data.Pclass==3)]#female child survived 3rd 
af = data[(data.Age >=19) & (data.Sex == 'female')]#adult female
af1 =  data[(data.Age >=19) & (data.Sex == 'female') & (data.Pclass==1)]#adult female 1st
af2 =  data[(data.Age >=19) & (data.Sex == 'female') & (data.Pclass==2)]#adult female 2nd 
af3 =  data[(data.Age >=19) & (data.Sex == 'female') & (data.Pclass==3)]#adult female 3rd 
afs = data[(data.Age >= 19) & (data.Sex == 'female') & (data.Survived == 1)]#adult female survived
afs1 = data[(data.Age >= 19) & (data.Sex == 'female') & (data.Survived == 1) & (data.Pclass==1)]#adult female survived 1st
afs2 = data[(data.Age >= 19) & (data.Sex == 'female') & (data.Survived == 1) & (data.Pclass==2)]#adult female survived 2nd
afs3 = data[(data.Age >= 19) & (data.Sex == 'female') & (data.Survived == 1) & (data.Pclass==3)]#adult female survived 3rd


cmc = cms['PassengerId'].count()/cm['PassengerId'].count()#child male survival
amc = ams['PassengerId'].count()/am['PassengerId'].count()#adult male survival
cfc = cfs['PassengerId'].count()/cf['PassengerId'].count()#child female survival
afc = afs['PassengerId'].count()/af['PassengerId'].count()#adult female survival
cmc1 = cms1['PassengerId'].count()/cm1['PassengerId'].count()#child male survival 1st class
cmc2 = cms2['PassengerId'].count()/cm2['PassengerId'].count()#child male survival 2nd class
cmc3 = cms3['PassengerId'].count()/cm3['PassengerId'].count()#child male survival 3rd class
amc1 = ams1['PassengerId'].count()/am1['PassengerId'].count()#adult male survival 1st class
amc2 = ams2['PassengerId'].count()/am2['PassengerId'].count()#adult male survival 2nd class
amc3 = ams3['PassengerId'].count()/am3['PassengerId'].count()#adult male survival 3rd class
cfc1 = cfs1['PassengerId'].count()/cf1['PassengerId'].count()#child female survival 1st class
cfc2 = cfs2['PassengerId'].count()/cf2['PassengerId'].count()#child female survival 2nd class
cfc3 = cfs3['PassengerId'].count()/cf3['PassengerId'].count()#child female survival 3rd class
afc1 = afs1['PassengerId'].count()/af1['PassengerId'].count()#adult female survival 1st class
afc2 = afs2['PassengerId'].count()/af2['PassengerId'].count()#adult female survival 2nd class
afc3 = afs3['PassengerId'].count()/af3['PassengerId'].count()#adult female survival 3rd class



sf = pd.DataFrame([[cmc],[amc],[cfc],[afc]], columns = ['survival chance'])#frame containing survival based on age and sex
sbc =pd.DataFrame([[cmc1,cmc2,cmc3],[amc1,amc2,amc3],[cfc1,cfc2,cfc3],[afc1,afc2,afc3]],columns = ['1st Class', '2nd Class','3rd Class'])
#sbc is frame containing survival based on age, sex and class of travel
sf.rename(index={0:'male child',1:'male adult',2:'female child',3:'female adult'}, inplace=True)
sbc.rename(index={0:'male child',1:'male adult',2:'female child',3:'female adult'}, inplace=True)
sf['survival chance']=sf['survival chance'].apply(as_percent)#format to %
sbc['1st Class']=sbc['1st Class'].apply(as_percent)#format to %
sbc['2nd Class']=sbc['2nd Class'].apply(as_percent)#format to %
sbc['3rd Class']=sbc['3rd Class'].apply(as_percent)#format to %
display(sf)
display(sbc)

             survival chance
male child            33.80%
male adult            16.80%
female child          67.65%
female adult          76.02%

             1st Class 2nd Class 3rd Class
male child      80.00%    60.00%    21.57%
male adult      35.04%     8.60%    12.16%
female child    90.91%   100.00%    51.16%
female adult    97.59%    90.32%    49.50%

In [117]:

data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64